.container{
    position: fixed;
    left: 20%;
    height: 100%;
    width:80%
}

.sources{
    margin-left: 3%;
    margin-top: 12%;
    border: 2px solid #000;
    width: 90%;
    height: 60%;
    display: flex;
    flex-wrap: wrap;
}

.horizontal-card {
    display: flex;
    align-items: center;
    margin: 2%;
    width: 20%;
    height: 10%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
  }
  
  .horizontal-card-image {
    flex: 1;
    height: 100%;
    width:50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  

  .horizontal-card-image:hover {
    transform: translate3d(0, 0, -20px);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .horizontal-card-content {
    flex: 1;
    padding: 20px;
  }
  
  .horizontal-card-title {
    font-size: 20px;
    margin: 0;
  }
  
  .horizontal-card-description {
    font-size: 10px;
    margin: 10px 0 0 0;
  }
  